.boolean-switch-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    justify-items: center;
    width: 400px;
}

.boolean-switch-child {
    display: grid;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
}

.boolean-switch-child button {
    width: 95px;
    height: 95px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 80px;
    margin-bottom: 10px;
    font-size: 20px;
    border-style: solid;
}

.boolean-switch-child button:hover {
    background: #f6f6f6;
    border-color: rgb(6, 38, 53);
    font-size: 18px;
}
